.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100%;
}

.main {
  display: flex;
  align-items: start;
  background-color: #FFDDD2;
  width: 100%;
  flex-grow: 1;

  aside {
    display: flex; 
    flex-direction: column;
    gap: 1rem;
    width: 20%;
    background: #006D77;
    height: 100%;
    padding: 2%;
  }

  .content {
    width: 80%;
    padding: 2% 6% 2%;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0 auto;
  }
}